{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h2>Ajouter une note</h2>
        {{ form_start(formNote) }}
            <select name="matiere">
                {% for matiere in matieres %}
                    <option value="{{ matiere.id }}">{{ matiere.nom }}</option>
                {% endfor %}
            </select>
        {{ form_rest(formNote) }}
        {{ form_end(formNote) }}
    </div>

    <div class="jumbotron">
        <h2>Bulletin de notes</h2>
        {% for note in notes %}
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{note.matiere.nom}}</h5>
                    <p class="card-text">Note:  {{ note.note }}</p>
                    <p class="card-text">Coefficient:  {{ note.matiere.coefficient }}</p>
                    <p class="card-text">Ajouter le :  {{ note.date | date('d/m/Y H:i:s') }}</p>

                </div>
            </div>

        {% endfor %}
    </div>
</div>
{% endblock %}
